@import './var';

%button {
    background-color: $main-background-color;
    border: 1px solid $input-border-color;
    border-radius: 4px;
    box-sizing: border-box;
    color: $main-font-color;
    cursor: pointer;
    display: block;
    flex-shrink: 0;
    font-size: 16px;
    min-height: 40px;
    padding: 6px 16px 4px;
    text-align: center;

    &:focus {
        border-color: $input-focus-border-color;
        color: $input-focus-color;
        outline: 0;
    }
}

%input-text {
    @extend %button;

    cursor: text;
    text-align: initial;

    &:focus {
        color: $main-font-color;
    }
}
