$main-font-family: 'Helvetica Neue', helvetica, arial, sans-serif;

$main-font-color: #212121;
$main-background-color: #fff;
$main-border-color: #d3d3d3;
$input-border-color: #c4c4c4;
$input-focus-border-color: #9bb9e5;
$input-icon-color: #757575;
$input-placeholder-color: #a2a2a2;
$input-focus-color: #3974cc;
$top-panel-background-color: #f5f5f5;
$show-item-hover-background-color: #eff4fb;

$max-width: 1280px;
$small-width: 980px;
